{% extends 'themes/base_admin.html.twig' %}

{% block title %}
	- Reservation salle de réunion - Espace Admin - Gestion des Salles
{% endblock %}

{% block main %}

	<div
		class="container my-2">
		<!-- Titre de la page -->
		<h1 class=' text-secondary text-center my-3 display-5'>Gestion des Salles</h1>
		<!-- Fin Titre de la page -->


		<!--Alerte Flash-->
		<div class="col-md-6 mx-auto">
			{% for message in app.flashes('success') %}
				<div class="text-center alert alert-success alert-dismissible fade show" role="alert">
					{{message}}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			{% endfor %}

			{% for message in app.flashes('warning') %}
				<div class="text-center alert alert-warning alert-dismissible fade show" role="alert">
					{{message}}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			{% endfor %}

		</div>
		<!--Fin Alerte Flash-->

		<div
			class="row">

			<!-- Card Creation nouvelle salle-->
			<div class="col-md-4 my-2 radius">
				<a class=" text-decoration-none" href="{{path('admin.meeting_room.create')}}">
					<div class="card mb-3">
						<div class="card-body text-center">
							<i class="fa-solid fa-plus text-center-black mt-5"></i>
							<h5 class="card-title text-center-black  ">Ajouter une Salle</h5>
						</div>
					</div>
				</a>
			</div>
			<!-- Fin Card Creation nouvelle salle-->

			<!-- Card Pour les nouvelles adresse -->
			{% for meetingroom in meetingrooms %}
				<div class="col-md-4 my-2 radius">

					<div class="card mb-3">
						{% if meetingroom.image %}
							<img src="{{ vich_uploader_asset(meetingroom, 'imageFile') | imagine_filter('admin_meetingroom_thumbnail') }}" alt="{{ meetingroom.name }}" class='w-100 h-100 rounded'>
						{% else %}
							<p>---</p>
						{% endif %}
						<div class="card-body">
							<h5 class="card-title">
								<strong>
									{{meetingroom.name}}
								</strong>
							</h5>
							<p class="card-text">
								<br>
								Capacité :
								{{meetingroom.Capacity}}
								Personnes
							</p>
							<p class="card-text">
								{% if meetingroom.description is not empty %}
									<br>
									Description :
									{{meetingroom.description|u.truncate(70, '...')}}
								{% endif %}
							</p>
							<p class="card-text">
								<br>
								Description :
								{{meetingroom.equipments|u.truncate(70, '...')}}
							</p>


							<!-- Boutton  -->
							<div class=" d-flex justify-content-between">
								<a href="#" class="btn btn-primary">Modifier</a>
								<a href="#" class="btn btn-secondary">Voir Plus</a>
								<a href="#" class="btn btn-danger" onclick="event.preventDefault(); return confirm('Voulez vous vraiment supprimer cette salle?') && document.querySelector('#form_delete_meetingroom_{{meetingroom.id}}').submit()" title="Supprimer">Supprimer</a>
								<form method="POST" id="form_delete_meetingroom_{{meetingroom.id}}" action="#">
									<input type="hidden" name="csrf_token" value="{{csrf_token('delete_meetingroom_'~meetingroom.id)}}">
									<input type="hidden" name="_method" value="delete">
								</form>
							</div>
							<!-- Fin boutton -->


							<p class="card-text d-flex justify-content-between">
								<small class="text-body-secondary">Créer
									{{meetingroom.createdAt|ago}}</small>

								<small class="text-body-secondary">Modifié
									{{meetingroom.updatedAt|ago}}</small>
							</p>

						</div>
					</div>


				</div>
			</div>
		{% endfor %}
		<!-- Fin Card pour les nouvelles categories -->


	</div>

</div>{% endblock %}
