{% extends 'themes/base_admin.html.twig' %}

{% block title %}
	- Reservation salle de réunion - Espace Admin - Creation Nouvelle Salle
{% endblock %}

{% block jQuery %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block select2 %}
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock %}


{% block main %}

	<!-- Breadcrumb-->
	<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class='mx-1 my-4'>
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{{path('admin.home.dashboard')}}">Tableau de bord</a>
			</li>
			<li class="breadcrumb-item">
				<a href="{{path('admin.meetingroom.index')}}">Liste des salles</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Creation d'une nouvelle salle</li>
		</ol>
	</nav>
	<!-- Fin Breadcrumb-->


	<!-- Titre de la page -->
	<h1 class=' text-secondary text-center my-3 display-5'>Nouvelle Salle</h1>
	<!-- Fin Titre de la page -->
	<div
		class="container d-flex justify-content-center align-items-center my-5 py-5">

		<!-- Formulaire de creation de salle -->
		<div
			class="row">

			<!-- Nom -->
			{{ form_start(form) }}
			<div class="mb-3">
				<label for="">Nom :</label>
				<div class="text-danger">{{form_errors(form.name)}}</div>
				{{form_widget(form.name, {'attr': {'class': 'form-control'}})}}
			</div>
			<!-- Fin Nom -->

			<!-- Capacité -->
			<div class="mb-3">
				<label for="">Capacité :</label>
				<div class="text-danger">{{form_errors(form.Capacity)}}</div>
				{{form_widget(form.Capacity, {'attr': {'class': 'form-control'}})}}
			</div>
			<!-- Fin Capacité -->

			<!-- Description -->
			<div class="mb-3">
				<label for="">Description :</label>
				<div class="text-danger">{{form_errors(form.Description)}}</div>
				{{form_widget(form.Description, {'attr': {'class': 'form-control'}})}}
			</div>
			<!-- Fin Description -->

			<!-- Equipements -->
			<div class="mb-3">
				<label for="">Equipements :</label>
				<div class="text-danger">{{form_errors(form.equipment)}}</div>
				{{form_widget(form.equipment, {'attr': {'class': 'form-control'}})}}
			</div>
			<!-- Fin Equipements -->


			<!-- Image -->
			<div class="mb-3">
				<label for="">Image</label>
				<div class="text-danger">{{form_errors(form.imageFile)}}</div>
				{{form_widget(form.imageFile, {'attr': {'class': 'form-control'}})}}
			</div>
			<!-- Fin Image -->

			<!-- Bouton de creation -->
			<div class="mb-3">
				<input formnovalidate type="submit" class="btn btn-primary" value="Créer">
			</div>
			<!-- Fin Bouton de creation -->

			{{ form_end(form) }}
		</div>
		<!-- Fin Formulaire de creation de salle -->


	</div>


{% endblock %}
{% block javascripts %}
	<script>
		$(document).ready(function () {
$('#meeting_room_form_equipment').select2();

});
	</script>
{% endblock %}
