{% extends 'themes/base_admin.html.twig' %}

{% block title %}
	- Reservation salle de réunion - Espace Admin - Gestion des Salles
{% endblock %}

{% block main %}

	<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
		<ol class="breadcrumb mx-3 mt-3">
			<li class="breadcrumb-item">
				<a href="{{path('admin.home.dashboard')}}">Espace Admin</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Gestion des salles</li>
		</ol>
	</nav>

	<!-- Titre de la page -->
	<h1 class=' text-secondary text-center my-3 display-5'>Gestion des Salles</h1>
	<!-- Fin Titre de la page -->

	<!--Alerte Flash-->
	<div class="col-md-6 mx-auto">
		{% for message in app.flashes('success') %}
			<div class="text-center alert alert-success alert-dismissible fade show" role="alert">
				{{message}}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}

		{% for message in app.flashes('warning') %}
			<div class="text-center alert alert-warning alert-dismissible fade show" role="alert">
				{{message}}
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}
	</div>
	<!--Fin Alerte Flash-->

	<!-- Card Creation nouvelle salle-->
	<div class="d-flex justify-content-end align-items-center mx-3">
		<a class="btn btn-secondary" href="{{path('admin.meetingroom.create')}}">
			<i class="fa-solid fa-plus shadow"></i>
			Nouvelle Salle</a>
	</div>
	<!-- Fin Card Creation nouvelle salle-->


	<div class="container mt-5 d-flex justify-content-center">
		<div class="row">
			{% for meetingroom in meetingrooms %}
				<div class="col-md-6 mb-4 d-flex justify-content-center">
					<div class="card mb-3 border shadow w-75 h-100">
						<a href="#">
							{% if meetingroom.image %}
								<img src="{{ vich_uploader_asset(meetingroom, 'imageFile') }}" alt="{{ meetingroom.name }}" class='card-img-top img-fluid'>
							{% else %}
								<img src="{{asset('images/NoImage/No_Image.jpg')}}" alt="{{ meetingroom.description|striptags|u.truncate(30, '...')}}" class="card-img-top img-fluid">


							{% endif %}
						</a>
						<div class="card-body">
							<h5 class="card-title">Nom de la salle :
								<strong>
									{{meetingroom.name}}
								</strong>
							</h5>
							<p class="card-text">Capacité :
								{{ meetingroom.Capacity }}
								Personnes</p>
							{% if meetingroom.description is not empty %}
								<p class="card-text">Description :
									{{ meetingroom.description|striptags|u.truncate(70, '...')|raw }}
								</p>
							{% endif %}

							<p class="card-text">Equipements :
								{{ meetingroom.equipments|striptags|u.truncate(70, '...')|raw }}
							</p>

							<p>
								<a href="{{path('admin.meetingroom.edit', {'id': meetingroom.id})}}" class="btn btn-primary">Modifier</a>

								<a href="{{path('admin.meetingroom.show', {'id' : meetingroom.id})}}" class="btn btn-secondary">Voir Plus</a>

								<a href="#" class="btn btn-danger" onclick="event.preventDefault(); return confirm('Voulez vous vraiment supprimer cette salle?') && document.querySelector('#form_delete_meetingroom_{{meetingroom.id}}').submit()" title="Supprimer">Supprimer</a>
								<form method="POST" id="form_delete_meetingroom_{{meetingroom.id}}" action="{{path('admin.meetingroom.delete', {'id':meetingroom.id})}}">

									<input type="hidden" name="csrf_token" value="{{csrf_token('delete_meetingroom_'~meetingroom.id)}}">
									<input type="hidden" name="_method" value="delete">
								</form>
							</p>

							<p class="card-text d-flex justify-content-between mt-3">
								<small class="text-body-secondary">Créer
									{{meetingroom.createdAt|ago}}</small>

								<small class="text-body-secondary">Modifié
									{{meetingroom.updatedAt|ago}}</small>
							</p>

						</div>
					</div>
				</div>
			{% endfor %}
			{# display navigation
																																																																																																																														<div class="mt-2 d-flex justify-content-center">
																																																																																																																															{{ knp_pagination_render(agencies) }}
																																																																																																																														</div> #}
		</div>
	</div>

{% endblock %}
