{% extends 'themes/base_admin.html.twig' %}

{% block title %}
	- Reservation salle de réunion - Espace Admin - Recherche de salles de réunion

{% endblock %}

{% block main %}
	<!-- Titre de la page -->
	<h1 class=' text-secondary text-center my-3 display-5'>Recherche de salles de reunion</h1>
	<!-- Fin Titre de la page -->

	<!-- Formulaire de recherche -->
	<div class="container d-flex justify-content-center align-items-center my-5 py-5">

		{{ form_start(form) }}
		<div class="row">
			<div class="col-md-6">
				<div class="mb-3">
					<label for="">Capacité Min :</label>
					<div class="text-danger">{{form_errors(form.minCapacity)}}</div>
					{{form_widget(form.minCapacity, {'attr': {'class': 'form-control'}})}}
				</div>
			</div>
			<div class="col-md-6">
				<div class="mb-3">
					<label for="">Capacité Max :</label>
					<div class="text-danger">{{form_errors(form.maxCapacity)}}</div>
					{{form_widget(form.maxCapacity, {'attr': {'class': 'form-control'}})}}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="mb-3">
					<label for="">Prix Min :</label>
					<div class="text-danger">{{form_errors(form.minPrice)}}</div>
					{{form_widget(form.minPrice, {'attr': {'class': 'form-control'}})}}
				</div>

			</div>
			<div class="col-md-6">
				<div class="mb-3">
					<label for="">Prix Max :</label>
					<div class="text-danger">{{form_errors(form.maxPrice)}}</div>
					{{form_widget(form.maxPrice, {'attr': {'class': 'form-control'}})}}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="mb-3">
				<label for="">Localisation :</label>
				<div class="text-danger">{{form_errors(form.location)}}</div>
				{{form_widget(form.location, {'attr': {'class': 'form-control'}})}}
			</div>
		</div>

		<!-- Bouton de creation -->
		<div class="mb-3">
			<input formnovalidate type="submit" class="btn btn-primary" value="Rechercher">
		</div>
		<!-- Fin Bouton de creation -->

		{{ form_end(form) }}
	</div>
	<!--Fin du Formulaire de recherche -->

	<hr>

	{% if meetingRooms|length > 0 %}
		<div class="row">
			{% for meetingRoom in meetingRooms %}

				<div class="col-md-4">
					<div class="card mb-3">
						{% if meetingRoom.image %}
							<img src="{{ vich_uploader_asset(meetingRoom, 'imageFile') }}" alt="{{ meetingRoom.name }}" class='card-img-top img-fluid'>

						{% else %}
							<img src="{{asset('images/NoImage/No_Image.jpg')}}" alt="{{ meetingRoom.description|striptags|u.truncate(30, '...')}}" class="card-img-top img-fluid">

						{% endif %}

						<div class="card-body">
							<h5 class="card-title">Nom de la salle :
								<strong>
									{{meetingRoom.name}}
								</strong>
							</h5>
							<p class="card-text">Capacité :
								{{ meetingRoom.Capacity|striptags|u.truncate(70, '...')|raw }}
								Personnes</p>
							{% if meetingRoom.description is not empty %}
								<p class="card-text">Description :
									{{ meetingRoom.description|striptags|u.truncate(70, '...')|raw }}
								</p>
							{% endif %}

							<p class="card-text">Equipements :
								{{ meetingRoom.equipments|striptags|u.truncate(70, '...')|raw }}
							</p>

							{# <a href="{{ path('room_view', { 'id': room.id }) }}" class="btn btn-primary">Voir la salle</a> #}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% else %}
		<div class="alert alert-danger" role="alert">
			Aucune salle de réunion trouvée pour ces critères de recherche.
		</div>
	{% endif %}


{% endblock %}
