<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>RoomEase - Inscription</title>

		{# Favicon #}
		<link rel="apple-touch-icon" sizes="180x180" href="{{asset('favicon/apple-touch-icon.png')}}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{asset('favicon/favicon-32x32.png')}}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{asset('favicon/favicon-16x16.png')}}">
		<link rel="manifest" href="{{asset('favicon/site.webmanifest')}}">
		<link rel="mask-icon" href="{{asset('favicon//safari-pinned-tab.svg')}}" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">

		{% block Boostrap %}
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
			<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
		{% endblock %}


		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}


	</head>
	<body class="h-100">
		<div class="container d-flex justify-content-center align-items-center my-5 py-5">

			{% for flash_error in app.flashes('verify_email_error') %}
				<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
			{% endfor %}

			{{ form_start(registrationForm) }}
			<div class="row">
				<div class="col-md-6">
					<div class="mb-3">
						<label for="registration_form_firstName">Prénom</label>
						<div class="text-danger">{{ form_errors(registrationForm.firstName) }}</div>
						{{ form_widget(registrationForm.firstName, {'attr' : {'class': 'form-control'}}) }}
					</div>
				</div>
				<div class="col-md-6">
					<div class="mb-3">
						<label for="registration_form_lastName">Nom</label>
						<div class="text-danger">{{ form_errors(registrationForm.lastName) }}</div>
						{{ form_widget(registrationForm.lastName, {'attr' : {'class': 'form-control'}}) }}
					</div>
				</div>
			</div>
			<div class="mb-3">
				<label for="registration_form_email">Email</label>
				<div class="text-danger">{{ form_errors(registrationForm.email) }}</div>
				{{ form_widget(registrationForm.email, {'attr' : {'class': 'form-control'}}) }}
			</div>
			<div class="mb-3">
				<label for="registration_form_password_first">Mot de passe</label>
				<div class="text-danger">{{ form_errors(registrationForm.password.first) }}</div>
				{{ form_widget(registrationForm.password.first, {'attr' : {'class': 'form-control'}}) }}
			</div>
			<div class="mb-3">
				<label for="registration_form_password_second">Confirmation du mot de passe</label>
				{{ form_widget(registrationForm.password.second, {'attr' : {'class': 'form-control'}}) }}
			</div>

			<div class="mb-3">
				<label for="registration_form_agreeTerms">
					<div class="text-danger">{{ form_errors(registrationForm.agreeTerms) }}</div>
					{{ form_widget(registrationForm.agreeTerms) }}
					Veuillez accepter
					<a data-bs-toggle="modal" data-bs-target="#registerModal" href="#">les conditions générales d'utilisation</a>
					<!-- Modal -->
					<div class="modal fade" id="registerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h1 class="modal-title fs-5" id="exampleModalLabel">les conditions générales d'utilisation</h1>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body">
									<h3>
										Conditions Générales d'Utilisation (CGU)
									</h3>
									<h5>
										1. Introduction :
									</h5>
									<p>
										La plateforme de réservation de salles de réunion roomEase (ci-après dénommée « le service ») est un service en ligne proposé par roomEase, qui permet aux utilisateurs de réserver des salles de réunion en ligne. Les présentes conditions générales (« CGU ») s'appliquent à toute utilisation du service.
									</p>
									<h5>
										2. Acceptation des CGU :
									</h5>
									<p>
										En utilisant le service roomEase, vous acceptez pleinement les présentes CGU. Si vous n'acceptez pas les CGU, il est recommandé de ne pas utiliser le service.
									</p>
									<h5>
										3. Inscription et utilisation du service :
									</h5>
									<p>
										Pour utiliser le service roomEase, vous devrez créer un compte en fournissant des informations telles que votre nom, votre adresse e-mail et d'autres informations relatives à votre entreprise. Vous êtes responsable de toutes les activités effectuées sous votre compte.
									</p>
									<h5>
										4. Disponibilité des salles et réservation :
									</h5>
									<p>
										Veuillez noter que la disponibilité des salles affichée sur le service est indicative et peut être soumise à des changements ou à des erreurs. Les réservations ne sont définitives qu'une fois que vous avez reçu une confirmation de réservation de la part de roomEase.
									</p>

									<h5>
										5. Paiement et facturation :
									</h5>
									<p>
										Le prix des réservations sera facturé à l'utilisateur qui effectue la réservation. Le paiement doit être effectué avant l'utilisation de la salle de réunion. Les tarifs peuvent changer et roomEase se réserve le droit de modifier les prix à tout moment.
									</p>

									<h5>
										6. Responsabilités :
									</h5>
									<p>
										Vous êtes responsable de l'utilisation du service roomEase et des informations que vous y soumettez. Vous vous engagez également à respecter les règles de conduite éthique et environnementale en vigueur sur les lieux où les salles de réunion sont situées.
									</p>

									<h5>
										7. Confidentialité et données personnelles :
									</h5>
									<p>
										roomEase s'engage à protéger la vie privée de ses utilisateurs et à traiter les données personnelles conformément aux lois sur la protection des données en vigueur. Les utilisateurs ont le droit de retirer leur consentement à tout moment et d'accéder et de rectifier leurs données.
									</p>

									<h5>
										8. Propriété intellectuelle :
									</h5>
									<p>
										Le contenu du service roomEase, y compris les marques, les logos, les images et les textes, est protégé par des droits de propriété intellectuelle et ne peut être utilisé sans autorisation écrite de roomEase.
									</p>

									<h5>
										9. Garantie :
									</h5>
									<p>
										roomEase ne garantit pas la qualité, la sécurité ou l'exactitude des informations ou des services fournis via le service. Le service est fourni tel quel, sans garantie, expressément ou implicitement.
									</p>

									<h5>
										10. Limitation de responsabilité :

									</h5>
									<p>
										roomEase ne peut être tenu responsable des préjudices directs, indirects, fortuits ou consécutifs résultant de l'utilisation ou de l'impossibilité d'utiliser le service.
									</p>

									<h5>
										11. Résiliation
									</h5>
									<p>
										roomEase se réserve le droit de résilier ou de suspendre votre compte à tout moment si vous violez les CGU.
									</p>

									<h5>
										12. Modifications des CGU
									</h5>
									<p>
										roomEase se réserve le droit de modifier les CGU à tout moment en publiant un avis sur le service.
									</p>

									<h5>
										13. Loi applicable
									</h5>
									<p>
										Les présentes CGU sont régies et interprétées conformément aux lois en vigueur du pays où la société roomEase est établie.
									</p>
									<h3>Merci de bien vouloir lire attentivement les présentes CGU avant d'utiliser le service roomEase.</h3>


									<h3>
										Règlement Général sur la Protection des Données (RGPD)</h3>

									<h5>
										1. Introduction
									</h5>
									<p>
										Chez roomEase, nous avons à cœur la protection de vos données personnelles et nous sommes engagés à respecter et à protéger votre vie privée. La présente politique de confidentialité explique comment nous collectons, utilisons et protégeons les données personnelles des utilisateurs de notre plateforme de réservation de salles de réunion en ligne.
									</p>

									<h5>
										2. Collecte et utilisation des données personnelles
									</h5>
									<p>
										Nous collectons des informations personnelles pour vous permettre de vous inscrire et d'utiliser notre service roomEase, y compris votre nom, votre adresse e-mail, votre adresse, votre numéro de téléphone et le nom de votre entreprise, ainsi que les détails de vos réservations de salles de réunion. Nous ne collectons pas de données sensibles.
										<br>
										Nous utilisons ces informations pour vous fournir notre service, pour communiquer avec vous en ce qui concerne vos réservations, pour améliorer notre service et pour vous informer des offres et promotions spéciales de temps en temps.
										<br>
										Nous ne partageons pas vos données personnelles avec des tiers, sauf si cela est nécessaire pour fournir notre service, si nous y sommes contraints par la loi ou si vous nous y autorisez.
									</p>

									<h5>
										3. Conservation des données personnelles
									</h5>
									<p>
										Nous conservons vos données personnelles aussi longtemps que nécessaire pour vous fournir notre service roomEase et pour respecter nos obligations légales et comptables.
									</p>

									<h5>
										4. Droits des utilisateurs
									</h5>
									<p>
										En vertu du RGPD, vous avez le droit de demander l'accès, la rectification, la limitation ou la suppression de vos données personnelles. Vous pouvez également vous opposer à leur traitement ou demander leur transfert à un autre responsable de traitement.
									</p>

									<h5>
										5. Politique de cookies
									</h5>
									<p>
										Notre service roomEase utilise des cookies pour améliorer l'expérience utilisateur et pour collecter des données d'analyse sur votre utilisation du service. Les cookies sont de petits fichiers texte stockés sur votre appareil par votre navigateur web.
										<br>
										Vous pouvez choisir de refuser les cookies en modifiant les paramètres de votre navigateur, mais cela peut affecter votre utilisation de notre service.
									</p>

									<h5>
										6. Sécurité des données
									</h5>
									<p>
										Nous prenons toutes les mesures raisonnables pour protéger vos données personnelles contre l'accès non autorisé, l'utilisation ou la divulgation.
									</p>

									<h5>
										7. Modifications de la politique de confidentialité
									</h5>
									<p>
										Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment en publiant une nouvelle version sur notre plateforme de réservation de salles de réunion en ligne.
									</p>

									<h5>
										8. Comment nous contacter
									</h5>
									<p>
										Si vous avez des questions sur notre politique de confidentialité ou sur la manière dont nous traitons vos données personnelles, n'hésitez pas à nous contacter à l'adresse roomease@gmail.com.
									</p>
									<h3>Merci de bien vouloir lire attentivement notre politique de confidentialité et de nous contacter en cas de questions ou de préoccupations. Nous sommes engagés à protéger votre vie privée et vos données personnelles.</h3>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
								</div>
							</div>
						</div>
					</div>
				</label>
			</div>

			<div class="mb-3">
				<input value="Je m'inscris" formnovalidate type="submit" class="btn btn-primary w-100 shadow">
			</div>

			<p class="my-1">Vous avez déjà un compte ?
				<a href="#">Connectez-vous</a>
			</p>
			<p class="my-1">
				<a href="{{path('visitor.welcome.index')}}">Retour à l'accueil</a>
			</p>
			{{ form_end(registrationForm) }}
		</div>
	</body>
</html>
